In [ ]:
import pandas as pd
df_D = pd.read_excel(r'copy_path')
df_D

,Row Labels,Average of Adj. Default Spread,Average of Country Risk Premium,Average of Equity Risk Premium,Average of Corporate Tax Rate
0,Africa,0.063367,0.074777,0.118077,0.268193
1,Angola,0.064372,0.075963,0.119263,0.250000
2,Benin,0.044583,0.052611,0.095911,0.300000
3,Botswana,0.011873,0.014011,0.057311,0.220000
4,Burkina Faso,0.074266,0.087639,0.130939,0.280000
...,...,...,...,...,...
162,Sweden,0.000000,0.000000,0.043300,0.206000
163,Switzerland,0.000000,0.000000,0.043300,0.146000
164,Turkey,0.044583,0.052611,0.095911,0.250000
165,United Kingdom,0.005937,0.007006,0.050306,0.250000
166,Grand Total,0.038431,0.045351,0.088651,0.217681